<!DOCTYPE html>
<html lang="en">
     <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
      <meta http-equiv="X-UA-Compatible" content="ie=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Building permits in Calgary</title>
        <!-- CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" 
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      

     <!-- leaflet css file -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
          integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
   <!--leaflet javascript file-->
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
          integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
          crossorigin=""></script>
       
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
       <!--style sheet-->
       <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
      
              <!--MapBox-->
              <script src='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.js'></script>
              <link href='https://api.mapbox.com/mapbox.js/v3.3.1/mapbox.css' rel='stylesheet' />

      <!--OverLappingMarkerSpiderfier-->
       <script src="https://cdnjs.cloudflare.com/ajax/libs/OverlappingMarkerSpiderfier-Leaflet/0.2.6/oms.min.js"></script>

       <!--MarkerCluster-->
       <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.css"/>
       <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.4.1/dist/MarkerCluster.Default.css"/>
       <script src="https://unpkg.com/leaflet.markercluster@1.4.1/dist/leaflet.markercluster.js"></script>


       

     </head>
    <!--navigation bar-->
     <nav class="navbar navbar-dark navbar-expand-sm topnav">
      <div class="container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Navbar">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="Navbar">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active"><a class="nav-link" href="{{ url_for('index') }}"><span class="fa fa-home fa-lg"></span> Home</a></li>
        </ul>
        <h2>Welcome! Building permits and traffic incidents in Calgary</h2>
      </div>

      </div>
      
    </nav>

     <body>
      <div class = "container">
        <div id="formss">
        <hr>
        <p>Select a specific date: </p>
        <div>
          <form name="s-form" method="post" id="form1">
            <p>Select date: <input type="date" id="singledate" name="single" required ></p>
            <input type="submit" value="Submit">
          </form>
        </div>
        {#
        ddddddddd= {{ api_s }}
        #}
        <hr>
        <p> Select a date range: </p>
        <div>
          <form name="stend" method="post" id="form2">
            <p>Start Date: <input type="date" id="Sdate" name="startdate"></p>
            <p>End Date: <input type="date" id="Edate" name="enddate"></p>
            <input type="submit" value="Submit">
          </form> 
        </div>
      </div>
        <hr>
        <!--Toggle button added-->
        <p>Toggle this button to view a map of Calgary Traffic Inicidents.</p>
        <label class="switch">
          <input type="checkbox" id="myButton" onclick="Buttontoggle()">
          <!--input id="myButton" onclick="Buttontoggle()"-->
          <span class="slider round"></span>
        </label>
        <hr>
        <!--script>
          var maplayer;
          var perm_layer = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}';
          var incid_layer = 'https://api.mapbox.com/styles/v1/asiahzibrila/ckzteken8000c14qmcnxyfisy/tiles/{z}/{x}/{y}?access_token={accessToken}';

          function Buttontoggle()
          {
            var checkBox = document.getElementById("myButton");
            
            if (checkBox.checked == true) {
              maplayer = perm_layer;
              } 
            else {
              maplayer = incid_layer;
              }
              //console.log(maplayer)
          }
          console.log(maplayer)
          </script-->
        {#
        ddddddddd= {{ api_r}}
        #}
        <div class="mapclass" id="map"></div>
      <hr>
        <script>
          
var map = L.map('map').setView([51.0447, -114.0719], 13);
var perm_layer = 'https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token={accessToken}';
var incid_layer = 'https://api.mapbox.com/styles/v1/asiahzibrila/ckzteken8000c14qmcnxyfisy/tiles/{z}/{x}/{y}?access_token={accessToken}';
L.tileLayer(perm_layer, {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 10,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiYXNpYWh6aWJyaWxhIiwiYSI6ImNremtycDhtZDFjNDYyd3M4empvM3Y4dGsifQ.ld0rWyn00rGQJ16mQBp0FQ'
    }).addTo(map);
    
//Function for toggle button
function Buttontoggle()
          {
            var checkBox = document.getElementById("myButton");
            maplayer = "";
            if (checkBox.checked == true) {
              maplayer = incid_layer;
              L.tileLayer(maplayer, {
                attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
                maxZoom: 10,
                id: 'mapbox/streets-v11',
                tileSize: 512,
                zoomOffset: -1,
                accessToken: 'pk.eyJ1IjoiYXNpYWh6aWJyaWxhIiwiYSI6ImNremtycDhtZDFjNDYyd3M4empvM3Y4dGsifQ.ld0rWyn00rGQJ16mQBp0FQ'
                }).addTo(map);

            //document.getElementById('form1').style.display='none';
            //document.getElementById('formss').style.display='none';
              } 
            else {
            //document.getElementById('form1').style.display='block';
            //document.getElementById('formss').style.display='block';
            maplayer = perm_layer;


L.tileLayer(perm_layer, {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 10,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiYXNpYWh6aWJyaWxhIiwiYSI6ImNremtycDhtZDFjNDYyd3M4empvM3Y4dGsifQ.ld0rWyn00rGQJ16mQBp0FQ'
    }).addTo(map);

  }
          }

  


    '{% if api_s %}'
        var api_url='{{ api_s }}'
    '{% endif %}'

    '{% if api_r %}'
        var api_url='{{ api_r }}'
    '{% endif %}'


    if (api_url) {
        var data;            
        $.ajax({
            url: api_url,
            type: "GET",
            data: {
            "$$app_token" : "BFe3BUcbDW8Wari2taan3sOuq"
        }
        }).done(function(data) {

  //console.log(data);
        //Marker cluster 
        var markers = L.markerClusterGroup();

        for (let x in data.features) {
          var popuptext = "<b>issueddate: </b>"+ data.features[x].properties.issueddate +"<br>"
                        + "<b>workclassgroup: </b>"+ data.features[x].properties.workclassgroup +"<br>"
                        + "<b>contractorname: </b>"+ data.features[x].properties.contractorname +"<br>"
                        + "<b>communityname: </b>"+ data.features[x].properties.communityname +"<br>"
                        + "<b>originaladdress: </b>"+ data.features[x].properties.originaladdress +"<br>";
            //console.log(data.features[x]);

            var feature = data.features[x]

            L.geoJSON(feature, {
                pointToLayer: function (feature, latlng) {
                  return markers.addLayer(L.marker(latlng).bindPopup(popuptext).openPopup()) ;
        }
            }).addTo(map); 
            map.addLayer(markers);


        }

});

}



L.mapbox.accessToken = 'pk.eyJ1IjoiYXNpYWh6aWJyaWxhIiwiYSI6ImNremtycDhtZDFjNDYyd3M4empvM3Y4dGsifQ.ld0rWyn00rGQJ16mQBp0FQ';
//var map1 = L.map('map1').setView([51.0447, -114.0719], 10.45);
var map1 = L.map('map1').setView([51.0447, -114.0719], 13);

// Add tiles from the Mapbox Static Tiles API
// (https://docs.mapbox.com/api/maps/#static-tiles)
// Tiles are 512x512 pixels and are offset by 1 zoom level
L.tileLayer(
    'https://api.mapbox.com/styles/v1/asiahzibrila/ckzteken8000c14qmcnxyfisy/tiles/{z}/{x}/{y}?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
    maxZoom: 10,
    id: 'mapbox/streets-v11',
    tileSize: 512,
    zoomOffset: -1,
    accessToken: 'pk.eyJ1IjoiYXNpYWh6aWJyaWxhIiwiYSI6ImNremtycDhtZDFjNDYyd3M4empvM3Y4dGsifQ.ld0rWyn00rGQJ16mQBp0FQ'
    }).addTo(map1);
</script>

        
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
     
</body>
        
</html>
 